# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environments
.venv/
venv/
.env

# Credentials
*.json
!**/sample_*.json
service-account*.json
application_default_credentials.json

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Editors
.idea/
.vscode/
*.swp

# OS
.DS_Store
